:root {
    --cube-length: 80px;
    --cube-canvas: 240px;
}

body {
  font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
  background-color: #f8f8f9;
  margin: 0 0 0 0;
}

h1 {
    color: #0077C8;
    margin: 0 0 0 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #979797;
  background-color: white;
  height: 75px;
  padding: 0 15px 0 15px;
}

.header > div {
  margin: 0 15px 0 0;
}

.cube-body {
  display: grid;
  height: calc(100% - 76px);
  grid-template-columns: 80% 20%;
  grid-template-rows: 100px 450px 70px auto;
}

.cube-simulator {
  grid-row-start: 1;
  height: 100px;
  display: flex;
  align-items: center;
}

.cube-simulator > button {
  margin: 0px 15px 0px 15px;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid rgb(78, 73, 73);
  font-size: 16px;
}

.cube-container {
  grid-row-start: 2;
  width: auto;
  height: 400px;
  padding: 25px 0 25px 0;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-operation-stack-header {
  grid-area: 1 / 2 / 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  border-bottom: solid 3px rgb(78, 73, 73);
  border-left: solid 3px rgb(78, 73, 73);
}

ul.cube-operation-stack {
  grid-column-start: 2;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  overflow: auto;
  border-left: solid 3px rgb(78, 73, 73);
}

ul.cube-operation-stack > li {
  list-style-type: none;
  font-size: 40px;
  width: 50%;
}

ul.cube-operation-stack > li:first-child {
  color: #0077C8;
}


.cube-canvas {
  width: var(--cube-canvas);
  height: var(--cube-canvas);
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  pointer-events: none;
}

.wrapper {
  display: block;
  width: var(--cube-length);
  height: var(--cube-length);
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}

.face {
    display: block;
    position: absolute;
    width: var(--cube-length);
    height: var(--cube-length);
    line-height: var(--cube-length);
    text-align: center;
    pointer-events: none;
}

.control-button {
  grid-row-start: 4;
  grid-column: 1 / 2;
  width: 100%;
  background-color: rgba(200, 57, 0, 0.418);
  font-size: 18px;
  text-align: center;
  display: grid;
  justify-items: center;
  grid-template-columns: 25% 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
}

.front, .back, .up, .down, .right, .left {
  background-color: rgb(0, 0, 0);
  font-size: 22px;
}

.cube-controller-container {
  grid-column: 2 / -1;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.cube-controller-container.one {
  grid-row: 1 / 2;
  background-color: brown;
}

.cube-controller-container.two {
  grid-row: 2 / 3;
  background-color: blue;
}

.cube-button {
  width: 20%;
  height: 60%;
  border: 2px solid rgb(78, 73, 73);
  border-radius: 15px;
  font-size: 22px;
  margin: 0 10px 0 10px;
}

.shift-button {
  grid-row: 1 / 3;
  align-self: center;
  width: 100px;
  height: 100px;
  font-size: 22px;
  border: 2px solid rgb(78, 73, 73);
  border-radius: 50%;
}

div.cube-how-to-operate > div {
  font-size: 22px;
  padding-left: 15px;
}

div.cube-how-to-operate > div:first-child{
  margin-bottom: 5px;
}

.cube-background {
  position: absolute;
  width: 80%;
  height: 620px;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background-color: palegoldenrod;
  z-index: -1;
}
