:root {
    --cube-length: 80px;
    --cube-canvas: 240px;
    --mobile-cube-length: 50px;
    --mobile-cube-canvas: 150px;
}

body {
  font-family: "Noto Sans", "Noto Sans CJK KR", sans-serif;
  background-color: #f8f8f9;
  margin: 0 0 0 0;
}

h1 {
    color: #0077C8;
    margin: 0 0 0 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #979797;
  background-color: white;
  height: 75px;
  padding: 0 15px 0 15px;
}

.header > div {
  margin: 0 15px 0 0;
}

.cube-body {
  display: grid;
  height: calc(100% - 76px);
  grid-template-columns: 80% 20%;
  grid-template-rows: 100px 450px 70px auto;
}

.cube-simulator {
  grid-row-start: 1;
  height: 100px;
  display: flex;
  align-items: center;
}

.cube-simulator > button {
  margin: 0px 15px 0px 15px;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid rgb(78, 73, 73);
  font-size: 16px;
}

.cube-simulator > button:hover {
  background-color: #cccccc;
}

.cube-simulator > button:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.cube-container {
  grid-row-start: 2;
  width: auto;
  height: 400px;
  padding: 25px 0 25px 0;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube-operation-stack-header {
  grid-area: 1 / 2 / 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  border-bottom: solid 3px rgb(78, 73, 73);
  border-left: solid 3px rgb(78, 73, 73);
  text-align: center;
}

ul.cube-operation-stack {
  grid-column-start: 2;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  overflow: auto;
  border-left: solid 3px rgb(78, 73, 73);
}

ul.cube-operation-stack > li {
  list-style-type: none;
  font-size: 40px;
  width: 50%;
}

ul.cube-operation-stack > li:first-child {
  color: #0077C8;
}


.cube-canvas {
  width: var(--cube-canvas);
  height: var(--cube-canvas);
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
  pointer-events: none;
}

.wrapper {
  display: block;
  width: var(--cube-length);
  height: var(--cube-length);
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
}

.face {
  display: block;
  position: absolute;
  width: var(--cube-length);
  height: var(--cube-length);
  line-height: var(--cube-length);
  text-align: center;
  pointer-events: none;
}

.control-button {
  grid-row-start: 4;
  grid-column: 1 / 2;
  width: 100%;
  background-color: rgba(200, 57, 0, 0.418);
  font-size: 18px;
  text-align: center;
  display: grid;
  justify-items: center;
  grid-template-columns: 25% 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
}

.front, .back, .up, .down, .right, .left {
  background-color: rgb(0, 0, 0);
}

.cube-controller-container {
  grid-column: 2 / -1;
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.cube-controller-container.one {
  grid-row: 1 / 2;
  background-color: brown;
}

.cube-controller-container.two {
  grid-row: 2 / 3;
  background-color: blue;
}

.cube-button {
  width: 20%;
  height: 60%;
  border: 2px solid rgb(78, 73, 73);
  border-radius: 15px;
  font-size: 22px;
  margin: 0 10px 0 10px;
}

.shift-button {
  grid-row: 1 / 3;
  align-self: center;
  width: 100px;
  height: 100px;
  font-size: 22px;
  border: 2px solid rgb(78, 73, 73);
  border-radius: 50%;
}

div.cube-how-to-operate > div {
  font-size: 22px;
  padding-left: 15px;
}

div.cube-how-to-operate > div:first-child{
  margin-bottom: 5px;
}

.cube-background {
  position: absolute;
  width: 80%;
  height: 620px;
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  background-color: palegoldenrod;
  z-index: -1;
}

.loading-background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 620px;
  background-color: #00000041;
  z-index: 9999;
}

.loading-ring {
  display: inline-block;
  width: 128px;
  height: 128px;
}
.loading-ring:after {
  content: " ";
  display: block;
  width: 92px;
  height: 92px;
  margin: 2px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-animation 1.5s linear infinite;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 720px) {
  body {
    background-color: rgba(163, 43, 43, 0.397);
  }
  
  h1 {
    font-size: 22px;
    height: 28px;
  }

  .header {
    height: 60px;
    width: 100%;
    
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* padding: 5px 10px 0 10px; */
    padding: 0 0 0 0;
  }

  .header > div {
    margin: 0 0 0 0;
    font-size: 0px;
  }

  .header > div > a {
    font-size: 15px;
  }

  .cube-body {
    grid-template-rows: 1.5fr 3.3fr 0.3fr 25px auto;
    height: calc(100vh - 71px);
    width: 100%;
    /* background-color: #0077C8; */
    box-sizing: content-box;
  }

  .cube-simulator {
    grid-column: 1 / -1;
    justify-content: center;
    height: 100%;
  }

  .cube-simulator > button {
    height: 80%;
    max-height: 100px;
    font-size: 14px;
  }

  .cube-container {
    grid-column: 1 / -1;
    height: 100%;
    padding: 5px 0 5px 0;
  }

  .cube-operation-stack-header {
    display: none;
  }

  ul.cube-operation-stack {
    grid-row: 4;
    grid-column: 1 / -1;
    background-color: rgba(238, 232, 170, 0.459);
    flex-direction: row;
    align-items: initial;
    height: 100%;
    border: none;
    
    display: flex;
  }

  ul.cube-operation-stack > li {
    width: auto;
    height: 100%;
    margin-right: 15px;
    font-size: 20px;
  }

  ul.cube-operation-stack > li:first-child {
    margin-left: 15px;
  }


  .cube-canvas {
    width: var(--mobile-cube-canvas);
    height: var(--mobile-cube-canvas);
  }

  .wrapper {
    width: var(--mobile-cube-length);
    height: var(--mobile-cube-length);
  }

  .face {
    width: var(--mobile-cube-length);
    height: var(--mobile-cube-length);
    line-height: var(--mobile-cube-length);
  }

  .control-button {
    height: 100%;
    grid-row-start: 5;
    background-color: transparent;
    border-top: 2px solid rgb(78, 73, 73);
    border-bottom: 2px solid rgb(78, 73, 73);
    box-sizing: border-box;
    grid-column: 1 / -1;
  }

  .cube-controller-container {
    border-left: 2px solid rgb(78, 73, 73);
  }

  .cube-controller-container.one {
    background-color: transparent;
    border-bottom: 2px solid rgb(78, 73, 73);
  }

  .cube-controller-container.two {
    background-color: transparent;
  }

  .cube-button {
    width: 25%;
  }

  .shift-button {
    width: 60px;
    height: 60px;
    font-size: 12px;
  }

  div.cube-how-to-operate {
    border-top: 2px solid rgb(78, 73, 73);    
    grid-area: 3 / 1 / 4 / -1;
    border-bottom: solid 2px rgb(78, 73, 73);
  }

  div.cube-how-to-operate > div {
    font-size: 14px;
    margin: 0 0 0 0;
    padding-left: 0px;
    text-align: center;
  }

  div.cube-how-to-operate > div:first-child{
    margin: 0 0 0 0;
  }

  .cube-background {
    width: 100%;
    height: 100%;
    position: relative;
    grid-row: 1 / 4;
    grid-column: 1 / -1;
  }

  .loading-background {
    width: 100%;
    height: calc(100vh - 71px);
    position: fixed;
  }
  
  .loading-ring {
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}
